body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
    text-align: center;
}

section {
    padding: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0
}

.project-list {
    list-style: none; 
    padding: 0; 
    margin: 0; 
  }
  
.project-list li {
margin-bottom: 10px; 
}

.project-list li a {
color: #555; 
text-decoration: none; 
font-size: 18px; 
display: block; 
padding: 10px; 
background-color: #f2f2f2; 
border-radius: 5px; 
transition: background-color 0.3s ease-in-out; 
}

.project-list li a:hover {
background-color: #ddd; 
}